ul {
    list-style-type: disc;
}

#big {
    font-size: 30px;
}

#small {
    font-size: 10px;
}

#danny {
    width: 180px;
    height: 130px;
}

nav {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }