#logo {
    width: 200px;
    height: 200px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1,h2 {
    text-align: center;
}

.integrantes {
    text-align: center;
    padding: 10px 0px;
}

.nombres {
    display: inline-block;
    text-align: left;
}

