ul {
    list-style-type: disc;
}

#grande {
    font-size: 30px;
}

#chico {
    font-size: 10px;
}

#juan {
    width: 130px;
    height: 180px;
}

nav {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }