ul {
    list-style-type: disc;
}

#big_font {
    font-size: 25px;
}

#small_font {
    font-size: 9px;
}

#img_container {
    width: 80px;
    height: 190;
}

nav {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }