ul {
    list-style-type: disc;
}

#guasu {
    font-size: 30px;
}

#michimi {
    font-size: 10px;
}

#imagen_stefano {
    width: 130px;
    height: 180px;
}

nav {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }